/* The following file styles the feed view screen */

/* post container */
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* post box */
.post__box {
  background: var(--clr-primary);
  border-radius: 30px;
  margin-top: 1rem;
  width: 80%;
  height: 24rem;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/* post box header (img + headline) */
.post__box_header {
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__box_headline_box {
  background-color: var(--clr-secondary);
  margin-right: 0.5rem;
  width: 60%;
  height: 70%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__box_headline {
  font-size: var(--size-sm);
  color: var(--clr-light-text);
}

/* post box user profile img */
.post__box_user_img_circle {
  background: var(--clr-secondary);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
  cursor: pointer;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__box_user_img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
}

/* post box uploaded img */
.post__box_upload_img_box {
  width: 85%;
  height: 70%;
  border-radius: 30px;
  background-color: var(--clr-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__box_upload_img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 3px;
}

/* xxs */
/* @media (min-width: 320px) {} */

/* xs */
@media (min-width: 475px) {
  .post__box {
    height: 28rem;
  }

  .post__box_user_img_circle {
    width: 3.5rem;
    height: 3.5rem;
  }

  .post__box_headline_box {
    width: 65%;
  }

  .post__box_headline {
    font-size: var(--size-lg);
  }
}

/* sm */
@media (min-width: 640px) {
  .post__box {
    height: 40rem;
  }

  .post__box_user_img_circle {
    margin: 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  .post__box_headline {
    font-size: var(--size-2xl);
  }
}

/* md */
@media (min-width: 768px) {
  .post__box {
    height: 45rem;
  }

  .post__box_user_img_circle {
    width: 5.5rem;
    height: 5.5rem;
  }

  .post__box_headline {
    font-size: var(--size-3xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .post__box {
    height: 50rem;
  }

  .post__box_user_img_circle {
    width: 6.5rem;
    height: 6.5rem;
  }

  .post__box_headline_box {
    width: 70%;
  }

  .post__box_headline {
    font-size: var(--size-4xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .post__box {
    height: 55rem;
  }

  .post__box_user_img_circle {
    margin: 2rem;
    width: 7.5rem;
    height: 7.5rem;
  }

  .post__box_headline {
    font-size: var(--size-5xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .post__box {
    height: 60rem;
  }

  .post__box_user_img_circle {
    width: 8.5rem;
    height: 8.5rem;
  }

  .post__box_headline {
    font-size: var(--size-6xl);
  }
}
