/* The following file styles the sign-in screen */

/* header containing name/logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 4rem;
  font-size: var(--size-3xl);
  color: var(--clr-logo);
}

.icon__leaf {
  font-size: var(--size-6xl);
  position: relative;
  top: 0.5rem;
}

/* sign-in container */
.sign-in {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

/* sign-in box */
.sign-in__box {
  background: var(--clr-primary);
  border-radius: 30px;
  margin-top: 2rem;
  width: 30rem;
  height: 20rem;
  cursor: default;
}

/* "log in" header text */
.sign-in__box_header {
  color: var(--clr-text);
  margin-top: 2rem;
  font-size: var(--size-4xl);
  text-align: center;
}

/* sign-in form */
.sign-in__box_form {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* both username and password input fields */
.sign-in__box_username_field,
.sign-in__box_password_field {
  background-color: var(--clr-secondary);
  border-radius: 15px;
  height: 2rem;
  width: 12rem;
  border: none;
  padding-left: 0.5rem;
  cursor: text;
}

/* log in submit button */
.sign-in__box_submit {
  background-color: var(--clr-accent);
  color: var(--clr-text);
  border: none;
  border-radius: 15px;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

.sign-in__box_submit:hover {
  outline: 2px solid var(--light-text);
}

/* sign-in footer "not a user?" */
.sign-in__box_footer {
  margin-top: 1rem;
  color: var(--clr-text);
  font-size: var(--size-sm);
  text-align: center;
}

.sign-in__box_footer a {
  color: var(--clr-accent);
  text-decoration: none;
}

.sign-in__box_footer a:hover {
  text-decoration: underline;
}

/* xxs */
/* @media (min-width: 320px) {} */

/* xs */
@media (min-width: 475px) {
  .logo {
    font-size: var(--size-4xl);
  }
  .icon__leaf {
    font-size: var(--size-7xl);
  }
  .sign-in__box {
    width: 20rem;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .logo {
    font-size: var(--size-5xl);
  }

  .icon__leaf {
    font-size: var(--size-8xl);
  }

  .sign-in__box {
    width: 25rem;
    height: 25rem;
  }

  .sign-in__box_header {
    font-size: var(--size-5xl);
  }

  .sign-in__box_username_field,
  .sign-in__box_password_field {
    width: 15rem;
  }

  .sign-in__box_submit {
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    font-size: var(--size-2xl);
  }
  .sign-in__box_footer {
    font-size: var(--size-lg);
    margin-top: 2rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .logo {
    font-size: var(--size-6xl);
  }

  .icon__leaf {
    font-size: var(--size-9xl);
    top: 1rem;
  }

  .sign-in__box {
    margin-top: 3rem;
    width: 35rem;
    height: 35rem;
  }

  .sign-in__box_header {
    font-size: var(--size-7xl);
  }

  .sign-in__box_form {
    margin-top: 3rem;
  }

  .sign-in__box_username_field,
  .sign-in__box_password_field {
    width: 22rem;
    height: 3rem;
  }

  input {
    font-size: var(--size-3xl);
  }

  .sign-in__box_submit {
    border-radius: 30px;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    font-size: var(--size-3xl);
  }
  .sign-in__box_footer {
    font-size: var(--size-3xl);
    margin-top: 3rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .sign-in__box {
    margin-top: 4rem;
    width: 45rem;
    height: 45rem;
  }

  .sign-in__box_header {
    font-size: var(--size-8xl);
  }

  .sign-in__box_form {
    margin-top: 5rem;
    gap: 3rem;
  }

  .sign-in__box_username_field,
  .sign-in__box_password_field {
    width: 26rem;
    height: 3rem;
  }

  input {
    font-size: var(--size-4xl);
  }

  .sign-in__box_submit {
    margin-top: 1rem;
    width: 14rem;
    height: 4rem;
    font-size: var(--size-5xl);
  }
  .sign-in__box_footer {
    font-size: var(--size-4xl);
    margin-top: 4rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .sign-in__box {
    width: 50rem;
    height: 55rem;
  }
}
